.ButtonSelect + [role="tooltip"] {
  max-width: 60vw;
  pointer-events: all!important;

  ul {
    padding: 0;
    margin: 0;

    li:hover {
      background-color: rgba(255, 255, 255, 0.08);
      cursor: pointer;
    }
  }

  .virtualList {
    .MuiTypography-root {
      font-family: monospace, monospace;
    }
  }
}